body {
  position: relative;
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
}

body::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: url(../img/bg.png);
  z-index: -1;
  opacity: 0.5;
}

body::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15%;
  width: 100%;
  background-image: url(../img/bg2.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat-x;
  z-index: -1;
  opacity: 0.1;
}

.header {
  position: relative;
  background: url(../img/headerbg.jpg)
    no-repeat;
  background-position: 50% 0%;
  height: 14vh;
  background-color: black;
  box-shadow: rgb(0, 0, 0) 0 0 30px 10px;
  padding: 0 20px;
  z-index: 1;
}

.header::after {
content: 'Rim & Tyre Size Calculator';
position: absolute;
font-family: "Orbitron", sans-serif;
font-size: clamp(18px, 4vw, 30px);
color: white;
right: 10px;
bottom: -1.1em;
flex-shrink: 0;
}

.main {
  display: flex;
  width: 90%;
  margin: 0 auto;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: rgb(114, 114, 114) 0 0 30px 10px;
  flex: 1;
  align-items: center;
  justify-content:center;
}

.mainContainer {
  padding: 0 10px;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  border-radius: 12px;
  border: 1px solid black;
  background-color: rgb(100, 100, 100);
  margin-top: 10px;
}

input[type='range']::-moz-range-thumb {
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border: 1px solid rgb(210, 0, 0);
  background-color: rgb(210, 0, 0);
}

.canvas__container{
  margin: 0 auto;
}

@media (min-width: 600px) {

  .mainContainer {
    flex-direction: row;
  }

  .canvas__container{
    margin: auto;
  }
}

@media (min-width: 800px) {
  .main {
    width:750px;
  }
  .mainContainer {
    gap: 40px;
  }
}

@media (max-height: 500px) and (orientation: landscape) {
  .mainContainer {
    flex-direction: row;
  }
}